/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
/* PC */
@media (max-width: 1087px) {
    /* [class*="__container"] {
        max-width: 970px;
    } */

}

/* TABLET */
@media (max-width: 991.98px) {
    /* [class*="__container"] {
        max-width: 750px;
    } */
}

/* MOBILE */
@media (max-width: 767.98px) {
    /* [class*="__container"] {
        max-width: NONE;
    } */
}

/* MOBILE small*/
@media (max-width: 479.98px) {}

/* MOBILE Xsmall*/
@media (max-width: 320px) {}

body {
    font-family: Roboto;
    font-size: 22px;
}

/* ========================================================== */

[class*="__container"] {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0 0 12px;
}

[class*="__narrow-container"] {
    max-width: 1170px;
    margin: 0 118px 0 0;
    /* padding: 0 0 0 12px; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.header {
    box-shadow: 0px 1px 8px -1px rgb(0 0 0 / 10%);
}

.header-head {
    background-color: #1B274A;
    font-size: 16px;
    line-height: 150%;
}

.header__container {}

.subheader__container {}

.header__info {
    padding: 16px 0 10px 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 82%;

}

.header_row {
    display: flex;
}

.header__info-adres {}

.header__info-adres a {
    padding: 0 10px 0 20px;
    background: url('../img/icon/location.svg') 0 0 no-repeat;


}

.link_pc {
    color: #FFA14D;
}

.link_pc span {
    text-decoration: none;
    border-bottom: 1px dashed #FFA14D;
}

.link_mobile {
    display: none;
    color: #fff;
}

.link_mobile span {
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}

.header__info-time {
    color: #fff;
    padding: 0 10px 0 30px;
    background: url('../img/icon/clock.svg') 0 0 no-repeat;
}

.header__info-tel-numb {
    padding: 0 40px 0 25px;
    background: url('../img/icon/phone.svg') 0 0 no-repeat;
}

.tel-numb-1 {
    display: inline-block;
    color: #FFA14D;
    padding: 0 8px 0 0;
    margin: 0 8px 0 0;
    border-right: 1px solid rgba(255, 255, 255, 0.192);
}


.tel-numb-2 {
    display: inline-block;
    color: #fff;
}

.header__btn {
    background-color: #FF7800;
    padding: 12px 40px 10px 40px;
    /* flex: 0 1 18%;
    align-items: center;
    display: flex; */
}

.btn__zapisat {
    color: #fff;
    background: url('../img/icon/note.svg') 0 0 no-repeat;
    padding: 0 0 2px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

.image-note-mobile {
    display: none;
}

/* =================================================================================== */

.main__container {}

.main__head {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.head__logo {
    display: flex;
    margin: 0 10px 0 0;
}

.logo-image {
    padding: 0 10px 0 0;
}

.logo__body {
    color: #1B274A;
}

.logo-title {
    font-weight: 500;
    font-size: 28.5px;
    line-height: 116%;
    letter-spacing: 0.01em;
    padding: 0 0 10px 0;
}

.logo-subtitle {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.01em;
}

.head__menu {}

.menu {}

.menu__body {
    padding: 0 40px 0 0;
}

.menu__list {
    display: flex;
    gap: 40px;
}

.menu__item {
    position: relative;

}

.menu__item a:hover {
    color: #FF7800;
}


.menu__item-arrow {}

.menu__item-arrow_servises {}

.main__breadcrumbs {
    padding: 50px 0 50px 0;
}

.breadcrumbs_list {
    color: #FFA14D;
    display: flex;
    gap: 15px;
    padding: 0 0 0 35px;
    background: url('../img/icon/home.svg') 0 0 no-repeat;
}

/* .breadcrumbs_list li:not(:last-child)::after {
    content: '>';
    position: absolute;
    color: #FFA14D;
    right: 0px;
    bottom: 0;
} */

.breadcrumbs_list li:not(:last-child)::after {
    content: ' >';
    color: #FFA14D;
    right: 50px;
    bottom: 0;

    /* content: url('../img/breadcrumbs-arrow.svg'); */
}

/* .breadcrumbs_list li:not(:last-child) {
    background-image: url('../img/breadcrumbs-arrow.svg');
    background-repeat: no-repeat;
    padding: 0 20px 0 0;
    top: 0px;
    right: 0px;
} */

/* content: url('../img/breadcrumbs-arrow.svg') 0 0 no-repeat; */

.breadcrumbs_item {
    font-size: 14px;
    line-height: 143%;
}

.breadcrumbs_item a {
    color: #FFA14D;
}

/* _____адаптив для хедера___________ */
@media (max-width: 1240px) {
    .link_pc {
        display: none;
    }

    .link_mobile {
        display: inline;
    }
}

@media (max-width: 1030px) {
    .header__info-time {
        display: none;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 880px) {
    .header__info-tel-numb {
        display: none;
    }

}

@media (max-width: 768px) {
    .logo-title {
        padding: 0 0 5px 0;
    }

    .main__breadcrumbs {
        padding: 32px 0 48px 0;
    }
}

@media (max-width: 600px) {
    .btn__zapisat span {
        display: none;
    }

    .btn__zapisat {
        padding: 0 0 2px 22px;
    }

    .header__btn {
        padding: 15px;
    }

    .main__breadcrumbs {
        padding: 30px 0 24px 0;
    }
}

@media (max-width: 500px) {
    .logo-image img {
        width: 50px;
        height: 50px;
    }

    .logo-title {
        font-size: 18px;
        line-height: 116%;
    }

    .logo__body {
        padding: 5px 0 0 0;
    }
}

@media (max-width: 600px) {}


/* =================================================================================== */

.main__work {}

.title_row {
    display: flex;
    justify-content: space-between;
}

.work__title {
    padding: 0 0 40px 0;

}

.title {
    font-weight: 500;
    font-size: 46px;
    line-height: 150%;
    color: #1B274A;
}

.work__title-image-title-mob {
    display: none;
    background: url('../img/work/work-cross+paw.svg');
    background-repeat: no-repeat;
    position: relative;
    bottom: 50px;
    left: 0;
    height: 100px;
    width: 100px;
    background-size: 100px;
}

.work__body {
    display: flex;
    /* justify-content: space-between; */
}

.work__body-description {
    max-width: 575px;
    padding: 0 10px 0 0;
    line-height: 150%;
}

.work__body-description-title {
    font-weight: 500;
    padding: 0 0 45px 0;
}

.work__body-description-list {
    padding: 0 0 45px 32px;
}

/* .description-list {
    list-style-image: url('../img/icon/circle-list.svg');
} */

.description-list :not(:last-child) {
    padding: 0 0 45px 18px;
}

/* отступ 18пх задан отдельно дня всех и последнего отдельно ???????????????? */
.description-item {
    padding: 0 0 0 18px;
    font-weight: 300;
    background: url('../img/icon/circle-list.svg') 0 11px no-repeat;
}

.description-item span {
    font-weight: 400;
}


.work__body-description-end {
    font-weight: 400;
}

.work__body-image {
    /* flex: 1 1 auto; */
}

.body-image-work {
    /* position: relative;
    top: 0;
    left: 134px; */
    display: inline-block;

}

.body-image-work::before {
    content: '';
    background: url('../img/work/work-paw+love2.png');
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    bottom: -30px;
    right: 0;
    width: 120px;
    height: 115px;

}


/* .body-image-work::after {
    content: '';
    background: url('../img/work/work-cross+paw.svg');
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    bottom: -30px;
    right: 0;
    width: 194px;
    height: 198px;

} */


/* .work__body-image img::before {
    content: url('../img/work/work-paw+love.svg');
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 2;
} */
/* .body-image-work ::before {
    content: '';
    background: url('../img/work/work-paw+love2.png');
    top: 0;
    left: 0;
    position: relative;
    width: 160px;
    height: 160px;
    z-index: 2;
} */


/* .image-paw {
    background: url('../img/work/work-paw+love2.png');
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: -350px;
    left: 0;
    width: 115px;
    height: 115px;
} */

.image-cross {
    background: url('../img/work/work-cross+paw.png');
    background-repeat: no-repeat;
    /* display: inline-block; */

}

.image-cross_1 {
    position: relative;
    top: -83px;
    right: -510px;
    width: 194px;
    height: 198px;
}

@media (max-width: 1340px) {
    .body-image-work::before {
        display: none;
    }

    .image-cross_1 {
        right: -380px;
    }
}

@media (max-width: 1340px) {
    /* .work__body-image {
        flex: 1 1 570px;
    } */

    .work__body {
        justify-content: space-between;
    }

    .body-image-work {
        padding: 0 90px 0 0;
    }
}

@media (max-width: 1180px) {
    .work__body-description {
        font-size: 20px;
    }

    .description-list :not(:last-child) {
        padding: 0 0 30px 18px;
    }

}

@media (max-width: 1080px) {
    .body-image-work {
        display: none;
    }

    .work__body-description {
        font-size: 22px;
    }

    .image-cross_1 {
        position: static;
    }

}

@media (max-width: 850px) {
    .work__body-image {
        display: none;
    }

    .work__title-image-title-mob {
        display: block;
    }
}

@media (max-width: 768px) {


    .work__title-image-title-mob {
        position: absolute;
        top: 180px;
        left: 80%;
        z-index: -1;
    }

    .work__body-description {
        max-width: 515px;
    }

    .work__body-description-title {
        padding: 0 0 32px 0;
    }

    .work__body-description-list {
        padding: 0 0 32px 26px;
    }
}


@media (max-width: 600px) {}

@media (max-width: 500px) {
    .work__title-image-title-mob {
        height: 60px;
        width: 60px;
        background-size: 60px;
        top: 230px;
    }

    .work__body-description-title {
        font-size: 18px;
        line-height: 122%;
        padding: 0 0 24px 0;
    }

    .work__body-description-list {
        font-size: 14px;
        line-height: 143%;
        padding: 0 0 24px 0;
    }

    .work__body-description-end {
        font-size: 14px;
        line-height: 143%;
    }
}

@media (max-width: 850px) {}

@media (max-width: 850px) {}

/* =================================================================================== */

.main__vacansions {
    margin: 65px 0 0 0;

}

.vacansions__container {}

.vacansions__narrow-container {
    border-top: 1px solid #FFA14D;


}

.vacantions_title {
    padding: 96px 0 48px 0;
}

.title {}

.vacantions__body {
    border-bottom: 1px solid #FFA14D;
    margin: 0 0 95px 0;
}

.vacantions__block:not(:last-child) {
    margin: 0 0 30px 0;
}


.vacantions__block {
    padding: 24px 50px 24px 62px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0px 0px;
    /* margin: 0 0 32px 0; */
}

.vacantions__block--title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3897F0;
    cursor: pointer;
    gap: 10px;
}

.vacantions__block--title-row:hover {
    color: #FF7800;
}

.block-title {
    font-size: 32px;
    line-height: 125%;
}

.block-title_1 {}

.block-title-btn-more {
    font-size: 14px;
    line-height: 143%;
    padding: 10px 0;
}

.vacantions__block--title-row::after {
    content: url('../img/arrow_down.svg');
    display: none;
}

/* ==========какая-то херня================= */

/*  ---- при клике на строку .vacantions__block--title-row получается 
  .block-title-btn-more = display: none;  --- и в этот момент
  .vacantions__block--title-row::after {display: block;} + поворот на 180 и цвет оранж
   но только у одной строки   ------    */


.block-title-btn-more::after {
    content: url('../img/arrow_down.svg');
    position: relative;
    top: 0;
    left: 10px;
}

.vacantions__open-block {
    padding: 32px 50px 65px 70px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0px 0px;
}

.open-block-title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 32px 0;
    color: #FF7800;
    cursor: pointer;
}

.open-block-body {
    padding: 0 0 35px 0;
}

.our-expectations {
    padding: 0 0 48px 0;
}

.our-expectations-title {}

.vacantions-openblock-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: #1B274A;
    margin: 0 0 32px 0;
}

.our-expectations-list {}

.expectations-list {
    padding: 0 0 32px 0;
}


.expectations-item {
    padding: 0 0 0 56px;
}

.expectations-item:not(:last-child) {
    margin: 0 0 18px 0;
}


.expectations-list li {
    background: url('../img/icon/circle-list.svg') 28px 5px no-repeat;
}

.our-expectations-text {
    line-height: 150%;
}

.tasks-vacantions {
    padding: 0 0 48px 0;
}

.tasks-vacantions-title {}

.tasks-vacantions-list {
    margin: 0 0 0 30px;
}

.tasks-vacantions-list li:not(:last-child) {
    padding: 0 0 18px 0;
}

.tasks-vacantions-item {
    list-style: decimal;
    list-style-position: inside;
}

/* .tasks-vacantions-item:not(:last-child) {
    padding: 0 0 18px 0;
} */

.tasks-vacantions-item::marker {
    color: #FF7800;
}

.terms-vacantions {
    padding: 0 0 66px 0;
}

.terms-vacantions-title {}

.terms-vacantions-list {
    padding: 0 0 48px 38px;
}

.terms-vacantions-list li:not(:last-child) {
    padding: 0 0 18px 0;
}

.terms-vacantions-item {
    list-style: decimal;
    list-style-position: inside;
}

.terms-vacantions-item::marker {
    color: #FF7800;
}

.terms-vacantions-text {
    line-height: 150%;
}

.respond-btn {}

.respond-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    padding: 18px 32px;
    color: #fff;
    background-color: #FF7800;
    border-radius: 4px;

}

.respond-btn:hover {
    background-color: #FFA14D;
}

.respond-btn:active {
    background-color: #B35300;
}



@media (max-width: 1340px) {}

@media (max-width: 1240px) {}


@media (max-width: 1080px) {
    .block-title-btn-more {
        display: none;
    }

    .vacantions__block--title-row::after {
        display: block;
    }
}

@media (max-width: 991.98px) {
    .vacantions_title {
        font-size: 36px;
        line-height: 111%;
    }

    .open-block-body {
        font-size: 18px;
    }

    .block-title {
        font-size: 22px;
        line-height: 150%;
    }

    .vacantions-openblock-title {
        font-size: 22px;
        line-height: 150%;
    }

    .tasks-vacantions-list {
        margin: 0 0 0 0;
    }

    .tasks-vacantions {
        padding: 0 0 32px 0;
    }

    .terms-vacantions-list {
        padding: 0 0 24px 0;
    }

    .main__vacansions {
        margin: 48px 0 0 0;

    }

    .our-expectations {
        padding: 0 0 32px 0;
    }

}

@media (max-width: 768px) {
    .vacantions__block {
        padding: 10px 24px;
    }

    .open-block-body {
        font-size: 16px;
    }

    .vacantions_title {
        padding: 64px 0 32px 0 !important;
    }

    .block-title-btn-more text {
        display: none;
    }

    .expectations-item {
        padding: 0 0 0 36px;
    }

    .expectations-list li {
        background: url('../img/icon/circle-list.svg') 0 5px no-repeat;
    }

    .vacantions-openblock-title {
        margin: 0 0 24px 0;
    }

    .open-block-title {
        margin: 0 0 24px 0;
    }

    .terms-vacantions {
        padding: 0 0 50px 0;
    }

    .vacantions__body {
        margin: 0 0 63px 0;
    }



}

@media (max-width: 500px) {
    .vacantions_title {
        padding: 48px 0 24px 0 !important;
    }

    .expectations-item {
        padding: 0 0 0 22px;
    }

    .block-title {
        font-size: 18px;
        line-height: 143%;
    }

    .vacantions-openblock-title {
        font-size: 18px;
        line-height: 122%;
    }

    .tasks-vacantions {
        padding: 0 0 24px 0;
    }

    .open-block-body {
        font-size: 14px;
    }

    .main__vacansions {
        margin: 32px 0 0 0;

    }

    .our-expectations {
        padding: 0 0 24px 0;
    }

    .terms-vacantions {
        padding: 0 0 45px 0;
    }

    .vacantions__body {
        margin: 0 0 48px 0;
    }
}

@media (max-width: 440px) {
    .block-title {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .respond-btn {
        font-size: 14px;
        line-height: 171%;
        padding: 14px 89px 14px 90px;
        margin: 0 0 0 -24px;
    }
}

/* =================================================================================== */

.main__why {}

.why__container {}

.why__narrow-container {}

.why__title {
    padding: 0 0 48px 0;
}

.title {}

.why__body {
    padding: 0 0 65px 0;
    border-bottom: 1px solid #FFA14D;

}

.body-why__block {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;
}

.body-why__block:not(:last-child) {
    padding: 0 0 120px 0;
}

.why-block__image {}

.why-block__image img {
    width: 100%;
}

.why-block__description {

    max-width: 500px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.block__description-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    padding: 0 0 32px 0;
}

.block__description-text {
    /* max-width: 500px; */
    line-height: 150%;
}

.fist-block-why {}

.second-block-why {
    /* flex-wrap: wrap; */
}

.third-block-why {}

@media (max-width: 1200px) {
    .body-why__block:not(:last-child) {
        padding: 0 0 72px 0;
    }
}

@media (max-width: 1040px) {
    .body-why__block {
        flex-wrap: wrap-reverse;
        justify-content: space-around;
    }

    .second-block-why {
        flex-wrap: wrap;
    }

    .why-block__description {
        padding: 0 0 32px 0;
        max-width: 570px;
    }
}


@media (max-width: 768px) {
    .block__description-title {
        font-size: 24px;
        line-height: 133%;
        padding: 0 0 24px 0;
    }

    .why__body {
        padding: 0 0 48px 0;
    }
}

@media (max-width: 500px) {
    .why-block__description {
        padding: 0 0 24px 0;
    }

    .body-why__block:not(:last-child) {
        padding: 0 0 48px 0;
    }

    .block__description-title {
        font-size: 18px;
        line-height: 122%;
        padding: 0 0 18px 0;
    }

    .why__body {
        padding: 0 0 32px 0;
    }

    .block__description-text {
        font-size: 14px;
        line-height: 143%;
    }
}

@media (max-width: 850px) {}

@media (max-width: 850px) {}

@media (max-width: 850px) {}

@media (max-width: 850px) {}


/* =================================================================================== */

.main__feedback {}

.feedback__container {}

.feedback-back-image_1 {
    max-width: 1450px;
    margin: 0 auto;
    position: relative;
}

.feedback-back-image_1 img {
    position: absolute;
    left: -40px;
    top: 110px;
    z-index: -1;
    max-width: 100%;
}

.feedback-back-image_2 {
    max-width: 1450px;
    margin: 0 auto;
    position: relative;
}

.feedback-back-image_2 img {
    position: absolute;
    right: 0;
    top: 600px;
    max-width: 100%;
}

.feedback__block {
    display: flex;
    gap: 20px;
    margin: 100px 0;
    justify-content: space-between;
}

.feedback__block-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 500px;
}

.image-main-doc {}

.description-image-doc {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 125px;
    box-shadow: -7px 7px 18px rgba(27, 39, 74, 0.16);
    border-radius: 10px;
}

.initials-doc {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #1B274A;
}

.function-doc {
    font-size: 16px;
    line-height: 150%;
    color: #222222;
}

.feedback__block-body {
    display: flex;
    flex: 0 1 470px;
    flex-direction: column;
    padding: 105px 0 0 0;
    color: #1B274A;
}

.feedback__body-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    padding: 0 0 32px 0;
}

.feedback__body-subtitle {
    font-size: 16px;
    line-height: 150%;
    padding: 0 0 48px 0;
}


.form-feedback {
    display: flex;
    flex-direction: column;
}

.input-form {
    width: 100%;
    font-size: 16px;
    padding: 0 0 10px 0;
    margin: 0 0 24px 0;
    border-bottom: 1px solid #C2C2C2;
}

.comment {
    font-size: 14px;
    line-height: 114%;
    padding: 0 0 14px 0;
}

.textarea-coment {
    border-bottom: 1px solid #C2C2C2;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    resize: none;
    margin: 0 0 48px 0;
}

.agrees {
    display: flex;
    margin: 0 0 32px 0;
}

.agree-rules-text {
    padding: 0 0 0 24px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(27, 39, 74, 0.64);
}

.link-agree-rules {}

.link-agree-rules a {
    color: #FF7800;
    ;
}

.submt-btn {
    width: 184px;
    color: #fff;
    padding: 18px 32px;
    background-color: #FF7800;
    border-radius: 4px;
}


@media (max-width: 1550px) {
    .feedback-back-image_1 img {
        width: 550px;
        left: 20px;
        top: 180px;
    }
}

@media (max-width: 1440px) {
    .feedback-back-image_1 img {
        width: 450px;

    }
}

@media (max-width: 1330px) {
    .feedback-back-image_1 img {
        width: 400px;
    }
}

@media (max-width: 1080px) {
    .feedback-back-image_1 img {
        left: 100px;
    }
}

@media (max-width: 1040px) {
    .feedback__block-image {
        display: none;
    }

    .feedback-back-image_1 {
        display: none;
    }

    .feedback__block {
        justify-content: space-around;
        margin: 112px 0 72px 0;
    }

    .feedback-back-image_2 img {
        top: -50px;
        right: 8%;
    }

    .feedback__block-body {
        padding: 0 0 0 0;
    }
}

@media (max-width: 768px) {
    .feedback__block {
        display: block;
    }
}

@media (max-width: 600px) {
    .feedback-back-image_2 img {
        top: -30px;
        width: 90px;
        height: 90px;
    }

    .feedback__block {
        margin: 76px 0 48px 0;
    }
}

@media (max-width: 500px) {
    .feedback__body-title {
        font-size: 18px;
        line-height: 122%;
        padding: 0 0 24px 0;
    }

    .feedback__body-subtitle {
        font-size: 14px;
        line-height: 143%;
        padding: 0 0 32px 0;
    }
}

@media (max-width: 450px) {
    .feedback-back-image_2 img {
        width: 60px;
        height: 60px;
    }
}

/* =================================================================================== */

.social_links {
    background-color: rgba(56, 151, 240, 0.1);
}

.social__contr {
    max-width: 710px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-soc {
    display: flex;
    align-items: center;
}

.subtitle-link {
    color: #FFA14D;
    padding: 0 0 0 24px;
}

@media (max-width: 900px) {
    .subtitle-link {
        display: none;
    }
}

@media (max-width: 768px) {
    .link-soc img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    .social__contr {
        height: 50px;
    }

    .link-soc img {
        width: 30px;
        height: 30px;
    }
}


/* =================================================================================== */
.map {
    margin: 0 auto;
    max-width: 100%;
}

.map-google {
    /* padding: 0 0 0 600px; */
    margin: 0 -600px 0 0;
}

.map__narrow-container {
    position: relative;
}

.map__description-adres {
    max-width: 770px;
    padding: 64px 100px;
    background: #FFFFFF;
    box-shadow: -10px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 0;
}

.title-description-adres {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    padding: 0 0 32px 0;
}

.subtitle-description-adres {
    background: url('../img/icon/metro-icon.png') 0 5px no-repeat;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    padding: 0 0 52px 50px;
    position: relative;
}

.subtitle-description-adres::before {
    content: '';
    position: absolute;
    width: 69px;
    height: 2px;
    left: 0;
    bottom: 32px;
    background: rgba(255, 195, 141, 0.64);
    border-radius: 8px;
}

.bus-station {
    padding: 0 0 18px 0;
}

.bus-statrion-description-adres {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    padding: 0 0 52px 0;
    position: relative;
}

.bus-statrion-description-adres::before {
    content: '';
    position: absolute;
    width: 69px;
    height: 2px;
    left: 0;
    bottom: 32px;
    background: rgba(255, 195, 141, 0.64);
    border-radius: 8px;
}

.street-bus-station {
    font-size: 16px;
    line-height: 150%;
    color: #6D758B;
}

.street-bus-station:not(:last-child) {
    padding: 0 0 18px 0;
}

.parking-description-adres {
    display: block;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    padding: 0 0 68px 0;
    position: relative;

}

.parking-description-adres::before {
    content: '';
    position: absolute;
    width: 69px;
    height: 2px;
    left: 0;
    bottom: 48px;
    background: rgba(255, 195, 141, 0.64);
    border-radius: 8px;
}

.Build-route-description-adres {
    display: inline-block;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #FF7800;
    /* margin: 68px 0 0 0; */
    position: relative;
}

.Build-route-description-adres::before {
    content: '';
    position: absolute;
    width: 31px;
    height: 15px;
    right: -50px;
    bottom: 8px;
    background-image: url('../img/icon/Arrow-route.svg');
    background-repeat: no-repeat;
}


@media (max-width: 1080px) {
    .map__description-adres {
        position: static;
        margin: 0 auto;
        padding: 64px 0 64px 0;
        box-shadow: none;
        max-width: 550px;
    }

    .map-google {
        margin: 0;
    }
}

@media (max-width: 800px) {
    .map__description-adres {
        padding: 48px 0px;
    }

    .title-description-adres {
        font-size: 24px;
        line-height: 133%;
        padding: 0 0 24px 0;
    }
}

@media (max-width: 500px) {
    .subtitle-description-adres {
        font-size: 18px;
        line-height: 122%;
    }

    .bus-station {
        font-size: 18px;
        line-height: 122%;
    }

    .street-bus-station {
        font-size: 14px;
        line-height: 143%;
    }

    .parking-description-adres {
        font-size: 18px;
        line-height: 122%;
        padding: 0 0 34px 0;
    }

    .Build-route-description-adres {
        font-size: 18px;
        line-height: 122%;
    }

    .parking-description-adres::before {
        bottom: 17px;
    }
}

@media (max-width: 369px) {
    .Build-route-description-adres::before {
        right: 90px;
        bottom: 15px;
    }


}




/* =================================================================================== */
/* =================================================================================== */
.footer {}

.footer {
    background-color: #1b274a;
    font-size: 14px;
}

.footer__container {}

.footer__narrow-container {
    position: relative;
}

.footer-image-dog {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

}

.footer__row {
    color: #fff;
    display: flex;
    padding: 40px;
    gap: 50px;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
    /* justify-content: space-between; */

}

.footer-column-contacts {
    min-width: 240px;
}

.footer-contacts-title {
    padding: 0 0 0 30px;
    background: url('../img/icon/phone.svg') 0 5px no-repeat;
}

.footer-title {
    color: #3897f0;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.footer-tel-number-1 {
    display: block;
    color: #fff;
    margin: 0 0 15px;
}

.footer-tel-number-1:hover {
    color: #FFA14D;
}

.footer-adress-title {}

.footer-adres-spn {
    color: #FFA14D;
    border-bottom: 1px dashed #FFA14D;
    margin: 0 0 30px 0;
}

.footer-logo {
    color: #fff;
    margin: 40px 0 0 0;
    display: flex;
}

.footer-logo-image {}

.footer-logo__body {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-logo-title- {
    font-size: 22px;
}

.footer-logo-subtitle- {
    font-size: 10px;
}

.footer-column-links {
    min-width: 250px;
}

.footer-links-title {}

.footer-subtitle-links {
    display: block;
    color: #FFFFFF;
    padding: 0 0 10px 0;
}

.footer-subtitle-links:hover {
    color: #FFA14D;
}

.footer-social-links-title {}

.footer-column-department {
    min-width: 200px;
}

.footer-subtitle-department {
    display: block;
    color: #FFFFFF;
    padding: 0 0 10px 0;
}

.footer-subtitle-department:hover {
    color: #FFA14D;
}

@media (max-width: 1200px) {}

/* =================================================================================== */

@media (max-width: 1200px) {


    [class*="__narrow-container"] {
        margin: 0 15px 0 0;

    }

}

@media (max-width: 1080px) {


    [class*="__narrow-container"] {
        margin: 0 80px 0 0;

    }

    [class*="__container"] {
        padding: 0 0 0 80px;
    }
}



@media (max-width: 768px) {
    [class*="__narrow-container"] {
        margin: 0 127px 0 0;

    }

    [class*="__container"] {
        padding: 0 0 0 128px;
    }

    .title {
        font-size: 36px;
        line-height: 111%;
        padding: 0 0 24px 0;
    }
}

@media (max-width: 700px) {
    [class*="__narrow-container"] {
        margin: 0 80px 0 0;

    }

    [class*="__container"] {
        padding: 0 0 0 80px;
    }
}


@media (max-width: 650px) {
    [class*="__narrow-container"] {
        margin: 0 24px 0 0;

    }

    [class*="__container"] {
        padding: 0 0 0 24px;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 24px;
        line-height: 133%;
        padding: 0 0 24px 0;
    }
}